<app-hero>
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/images/banner1.jpg" />
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/banner1.jpg" />
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/banner1.jpg" />
    </div>
  </div>
</app-hero>

<div class="container mb-4">
  <div class="row" *ngIf="(outlets$ | async) as outlets">
    <div class="col-sm-3" *ngFor="let outlet of outlets">
      <div class="product-item _vert">
        <div class="product-item-img mb-3" style="background-image: url('{{outlet.image}}')">
          <a [routerLink]="[outlet.id]">
            <span *ngIf="outlet.servingType=='veg'" class="_veg"></span>
            <span *ngIf="outlet.servingType=='nonveg'" class="_nonveg"></span>
            <span *ngIf="outlet.servingType=='both'" class="_veg"></span>
            <span *ngIf="outlet.servingType=='both'" class="_nonveg left-20"></span>
          </a>
        </div>
        <div class="product-item-body">
          <h5>
            {{outlet.name}}
          </h5>
          <p class="xs cusines">
            <span *ngFor="let cuisine of outlet?.cuisines"> {{cuisine}}</span>
          </p>
          <div class="strip text-gray xs pt-2 pb-2 d-flex justify-content-between">
            <span class="rate"><i class="fa fa-star mr-1"></i>3.9</span>
            <span>45 MIN</span>
            <span class="">Rs.{{outlet.costFor}} FOR TWO</span>
          </div>
        </div>
        <div class="product-item-footer">
          <button class="btn btn-primary btn-block">
            <i class="fa  fa-shopping-cart mr-2"></i> Add to cart
          </button>
        </div>
        <!-- <div class="product-item-counter mt-3 d-flex justify-content-between align-items-center">
          <button class="btn btn-primary">-</button>
          <span>1</span>
          <button class="btn btn-primary">+</button>
        </div> -->
      </div>
    </div>
  </div>
</div>