<ng-container [formGroup]="formGroup">
  <div class="form-group"
    [ngClass]="{'is-valid':title.valid && title.touched,'is-invalid':title.invalid && title.touched}">
    <label>Name <span class="xs text-danger">*</span></label>
    <input formControlName="title" type="text" class="form-control gray" id="title" placeholder="Enter menu name"
      [ngClass]="{'is-valid':title.valid && title.touched,'is-invalid':title.invalid && title.touched}">
    <span class="invalid-feedback">Category is required!</span>
  </div>
  <div class="form-group">
    <label>Description <span class="xs text-danger">*</span></label>
    <textarea class="form-control gray" formControlName="description">
    </textarea>
  </div>
</ng-container>