<app-page-title>
  <button type="button" class="btn btn-primary btn-xs" #modalButton data-toggle="modal" data-target="#add-product">
    Add Product
  </button>
</app-page-title>
<div class="row" *ngIf="(products$ | async) as products">
  <div class="col-md-3" *ngFor="let product of products">
    {{product.title}}
  </div>
</div>



<app-modal [id]="'add-product'" (close)="onCloseModal()">
  <ng-container class="header">
    <h5>{{isProductEdit?'Update':'Add'}} product</h5>
  </ng-container>
  <ng-container class="body">
    <form (ngSubmit)="onAddCategory()" [formGroup]="productForm" novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" *ngIf="outlets?.category"
            [ngClass]="{'is-valid':cat.valid && cat.touched,'is-invalid':cat.invalid && cat.touched}">
            <label>Select category</label>
            <select formControlName="category" name="category" class="form-control gray"
              [ngClass]="{'is-valid':cat.valid && cat.touched,'is-invalid':cat.invalid && cat.touched}">
              <option [value]="cat.id" *ngFor="let cat of outlets?.category; let i=index">
                {{cat.title}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class=" form-group"
            [ngClass]="{'is-valid':title.valid && title.touched,'is-invalid':title.invalid && title.touched}">
            <label>Product title</label>
            <input type="text" class="form-control gray" formControlName="title" name="title"
              [ngClass]="{'is-valid':title.valid && title.touched,'is-invalid':title.invalid && title.touched}" />
            <span class="invalid-feedback">Title is required!</span>
          </div>
        </div>
        <div class="col-md-6 form-group"
          [ngClass]="{'is-valid':price.valid && price.touched,'is-invalid':price.invalid && price.touched}">
          <label>Price</label>
          <input type="text" class="form-control gray" formControlName="price" name="price"
            [ngClass]="{'is-valid':price.valid && price.touched,'is-invalid':price.invalid && price.touched}" />
          <span class="invalid-feedback">Price is required!</span>
        </div>
        <div class="col-md-6 form-group">
          <label>Offer</label>
          <input type="text" class="form-control gray" formControlName="offer" name="offer" />
        </div>
        <div class="col-md-6 form-group">
          <label>Product type</label>
          <div class="d-flex  pt-2">
            <div class="form-radio mr-5 d-flex" *ngFor="let item of productType; let i=index">
              <input type="radio" name="recipeType" [id]="item" formControlName="recipeType" [value]="item" />
              <label [for]="item" class="ml-2 primary">{{item | capitalize}}</label>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label>Cuisines</label>
          <select formControlName="cuisineType" name="cuisineType" class="form-control gray">
            <option [value]="cuisine.id" *ngFor="let cuisine of (cuisines$ | async) as cuisines; let i=index">
              {{cuisine.title}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-12 text-right">
          <button type="submit" class="btn btn-primary">{{isProductEdit?'Update':'Add'}} Category</button>
        </div>
      </div>
    </form>
  </ng-container>
</app-modal>