<app-page-title>
  <button type="button" data-toggle="modal" #modalButton data-target="#add-menu" class="btn btn-primary btn-xs">Add
    menu</button>
</app-page-title>


<app-modal [id]="'add-menu'" (close)="onCloseModal()">
  <ng-container class="header">
    <h5>Add outlet menu</h5>
  </ng-container>
  <ng-container class="body">
    <form (ngSubmit)="onAddMenu()" [formGroup]="menuForm">
      <app-add-outlet-menu [formGroup]="menuForm"></app-add-outlet-menu>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Add Menu</button>
      </div>
    </form>
  </ng-container>
</app-modal>


<div class="row">
  <div class="col-sm-6">
    <app-outlet-detail (editMenu)="onEditMenu($event)"></app-outlet-detail>
  </div>
  <div class="col-sm-6">
    <h3 class="mb-3">Add outlet</h3>
    <form (ngSubmit)="addOutlet()" [ngSwitch]="step" [formGroup]="form">
      <app-basic [formGroup]="form" *ngSwitchCase="1"></app-basic>
      <app-business (selected)="onCheckboxChange($event)" [formGroup]="form" *ngSwitchCase="2"></app-business>
      <app-address [formGroup]="form" *ngSwitchCase="3"></app-address>
      <div class="form-group text-right mt-3">
        <button type="button" (click)="onPrev()" *ngIf="!(step===1)" class="btn btn-primary btn-xs">Prev</button>
        <button type="button" (click)="onNext()" *ngIf="!(step===3)"
          class="btn btn-primary btn-xs ml-2 mr-2">Next</button>
        <button type="submit" *ngIf="step===3" class="btn btn-primary btn-xs ml-2 mr-2">Submit</button>
      </div>
    </form>
  </div>
</div>