<aside class="sidebar">
  <app-logo [url]="url" [size]="45"></app-logo>
  <div class="sidebar-user">
    <a routerLink="/vendor/profile" class="avatar xl d-flex circle m-auto">
      <img src="../../../assets/images/avatar.png" />
    </a>
    <h6 class="mt-3">
      Pradeep Kumar
      <small class="mt-0 text-gray">Sr. Software engineer</small>
    </h6>
    <span class="text-primary">
      <i class="fa fa-mobile"></i>
      7291893484
    </span>
  </div>

  <ul class="sidebar-nav">
    <li class="header">Menu</li>
    <li class="nav-item" *ngFor="let menu of menus; let i = index">
      <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="[menu.url]">
        <i class="fa fa-{{menu.icon}} mr-2"></i> {{menu.name}}
      </a>
    </li>
  </ul>
  <!-- Sidebar footer -->
  <footer class="sidebar-footer">
    <p class="xs mb-0">
      <span>&copy; Version 1.0.0</span>
    </p>
  </footer>
</aside>