<aside class="sidebar">
  <app-logo [url]="url" [size]="45"></app-logo>
  <div class="sidebar-user" *ngIf="(user$ | async) as user">
    <a routerLink="/vendor/profile" class="avatar xl d-flex circle m-auto">
      <img src="../../../assets/images/avatar.png" />
    </a>
    <h6 class="mt-3">
      {{user.firstname| capitalize}} {{user.lastname | capitalize}}
      <small class="text-gray">admin</small>
    </h6>
    <span class="text-primary">
      <i class="fa fa-mobile"></i>
      {{user.mobile}}
    </span>
  </div>

  <ul class="sidebar-nav">
    <li class="header">Menu</li>
    <li class="nav-item" *ngFor="let menu of menus; let i = index">
      <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
        [routerLink]="[url + menu.url]">
        <i class="fa fa-{{menu.icon}} mr-2"></i> {{menu.name}}
      </a>
    </li>
    <li class="header mt-3">Settings</li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="[url + '/profile']">
        <i class="fa fa-user mr-2"></i> Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="[url + '/setting']">
        <i class="fa fa-cog mr-2"></i>
        Setting</a>
    </li>
  </ul>
  <!-- Sidebar footer -->
  <footer class="sidebar-footer">
    <p class="xs mb-0">
      <span>&copy; Version 1.0.0</span>
    </p>
  </footer>
</aside>