.hero {
  position: relative;
  background-color: $banner-color;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  display: flex;
  .container {
    flex: 1;
    display: flex;
    .row {
      flex: 1;
    }
  }
  &-title {
    color: $white;
  }
  &.h-200 {
    height: 150px;
  }
  &.h-350 {
    min-height: 350px;
  }
  //max-height: 350px;

  &.bg {
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($black, 0.7);
    }
  }

  &-detail {
    position: relative;
  }
  &-btm {
    position: absolute;
    bottom: -40px;
    > div {
      &:first-child {
        flex: 2;
      }
      &:not(:first-child) {
        flex: 1;
        max-width: 150px;
        padding-left: 12px;
        padding-right: 12px;
      }
      box-shadow: $navbar-shadow;
    }
  }

  .image {
    &.h150 {
      border-radius: 5px;

      min-height: 150px;
    }
  }
}
