.detail {
  h6 {
    padding: 5px 10px;
    background-image: linear-gradient(90deg, $gray-100, rgba($gray-100, 0));
  }
  ul {
    padding-left: 45px;
  }
  address {
    padding-left: 25px;
  }
}

.menu {
  max-width: 400px;
  &-item {
    padding: 3px 5px;
    .btn {
      opacity: 0;
    }
    &:hover {
      color: $primary;
      background-image: linear-gradient(90deg, $gray-100, rgba($gray-100, 0));
      .btn {
        opacity: 1;
      }
    }
  }
}
