.panel {
  padding: 20px;
  &-title {
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-200;
    h4 {
      position: relative;
      padding-left: 0;
      @extend .design;
      &:before {
        left: -20px;
      }
    }
  }
  &-footer {
    padding-top: 15px;
    border-top: 1px solid $gray-200;
  }
  &.white {
    background-color: $white;
    box-shadow: 0 0 4px $gray-200;
  }
}
