._fav {
  width: 100%;
  max-width: 120px;
  background-color: $white;
  .btn {
    padding: 5px;
    line-height: 28px;
    box-shadow: none;
    width: 100%;
  }
}

.menu-list {
  list-style: none;
  text-align: right;
  li {
    a {
      padding: 5px;
      display: block;
      color: $text-color;
      &.active {
        color: $primary;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
