._veg {
  background-color: $white;
  padding: 6px 12px;
  max-width: 120px;
  line-height: 28px;
  &_icon {
    width: 16px;
    height: 16px;
    border: 2px solid $green;
    display: inline-block;
    text-align: center;
    line-height: 13px;
    &:before {
      width: 10px;
      height: 10px;
      background-color: $green;
      border-radius: 50px;
      content: "";
      display: inline-block;
    }
  }
  &_nonveg {
  }
}

._fav {
  width: 100%;
  max-width: 120px;
  background-color: $white;
  .btn {
    padding: 5px;
    line-height: 28px;
    box-shadow: none;
    width: 100%;
  }
}

.menu-list {
  list-style: none;
  text-align: right;
  li {
    a {
      padding: 5px;
      display: block;
      color: $text-color;
      &.active {
        color: $primary;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
