.design {
  position: relative;
  padding-left: 10px;
  &:before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: $primary;
    position: absolute;
    left: 0;
  }
}
.title {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}
