<div class="hero">
  <div class="container">
    <div class="container carousel slide">
      <div class="row">
        <div class="col-md-4">
          <div class="card border-0">
            <img src="../../assets/images/banner1.jpg" class="img-responsive" />
          </div>
        </div>
        <div class=" col-md-4">
          <div class="card border-0">
            <img src="../../assets/images/banner4.jpg" class="img-responsive" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <img src="../../assets/images/banner2.png" class="img-responsive" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>