<ng-template #image let-image>
  <td><img [src]="image" alt="" /></td>
</ng-template>
<ng-template #date let-date>
  <td><time>{{date | date:'short'}}</time> </td>
</ng-template>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <ng-template ngFor let-item [ngForOf]="data[0] | keyvalue" let-i="index">
          <td *ngIf="!hideColumns.includes(item.key); else thenBlock;">
            {{item.key | capitalize }}
          </td>
          <ng-template #elseBlock></ng-template>
        </ng-template>
        <td class="text-right" *ngIf="isAction">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i=index; trackBy:trackById">
        <ng-template ngFor let-item [ngForOf]="row | keyvalue" let-i="index" [ngForTrackBy]="trackByFn">
          <ng-container *ngIf="!hideColumns.includes(item.key); else elseBlock">
            <ng-container *ngIf="item.key==='active';else other">
              <td> <span [ngClass]="{active:item.value, 'in-active':!item.value}"></span> </td>
            </ng-container>
            <ng-template #other>
              <ng-container *ngIf="item.key==='image'; else dateBlock">
                <ng-container *ngTemplateOutlet="image; context:{$implicit:item.value}"></ng-container>
              </ng-container>
            </ng-template>
            <ng-template #dateBlock>
              <ng-container *ngIf="item.key==='insertAt';else otherBlock">
                <ng-container *ngTemplateOutlet="date; context:{$implicit:item.value}"></ng-container>
              </ng-container>
            </ng-template>
            <ng-template #otherBlock>
              <td>{{item.value}}</td>
            </ng-template>
          </ng-container>
          <ng-template #elseBlock></ng-template>
        </ng-template>
        <td *ngIf="isAction" class="text-right">
          <app-button (click)="onEditHandler(row)" [iconBtn]="true" class="ml-1"><i class="fa fa-edit"></i></app-button>
          <app-button (click)="onActivateHandler(row.id)" [iconBtn]="true" class="ml-1"><i class="fa fa-eye"></i>
          </app-button>
          <app-button (click)="onDectivateHandler(row.id)" [iconBtn]="true" class="ml-1"><i class="fa fa-eye-slash"></i>
          </app-button>
          <app-button (click)="onDeleteHandler(row.id)" [iconBtn]="true" [color]="'danger'" class="ml-1"><i
              class="fa fa-trash"></i></app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>