<app-page-title>
  <button type="button" class="btn btn-primary btn-xs" #modalButton data-toggle="modal" data-target="#cuisine-add">
    Add Cuisine
  </button>
</app-page-title>

<app-modal #modal [id]="'cuisine-add'" (close)="onClose()">
  <header class="header">
    <h5 class="mb-0">Add cuisine</h5>
  </header>
  <section class="body">
    <form (ngSubmit)="onAddCuisine()" #form="ngForm">
      <div class="form-group"
        [ngClass]="{'is-valid': title.valid && title.touched,'is-invalid':title.invalid && title.touched}">
        <label class="form-label">Cuisine name <span class="text-danger">*</span></label>
        <input ngModel #title="ngModel" type="text" name="title" class="form-control gray" required
          [ngClass]="{'is-valid': title.valid && title.touched,'is-invalid':title.invalid && title.touched}" />
        <span class="invalid-feedback">Title is required!</span>
      </div>
      <div class="form-group"
        [ngClass]="{'is-valid': image.valid && image.touched,'is-invalid':image.invalid && image.touched}">
        <app-upload [single]="true" #image (upload)="onUpload($event)"></app-upload>
      </div>
      <div class="form-group text-right">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-xs">Add</button>
      </div>
    </form>
  </section>
</app-modal>


<app-panel [type]="'white'" *ngIf="data; else nodata">
  <div class="panel-title">
    <h4 class="mb-0">Cuisines</h4>
  </div>
  <section class="panel-body">
    <app-data-table (onDelete)="onDeleteHandler($event)" (onEdit)="onEditHandler($event)"
      (onActivate)="onActivateHandler($event)" (onDeactivate)="onDeactivateHandler($event)" [data]="data">
    </app-data-table>
  </section>
  <footer class="panel-footer">
    footer
  </footer>
</app-panel>
<ng-template #nodata>
  <p>No data found</p>
</ng-template>