<header class="navbar navbar-vendor navbar-expand-lg">
  <div class="nav-toggle">
    <i class="fa fa-list"></i>
  </div>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-comment"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-bell"></i>
      </a>
    </li>
    <li class="nav-item dropdown dropleft">
      <a href="#" class="dropdown-toggle d-flex align-items-center" data-toggle="dropdown">
        <div class="avatar sm circle mr-2">
          <img src="../../../assets/images/avatar.png" />
        </div>
        <span>PK </span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="fa fa-user mr-2"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-key mr-2"></i>Change Password</a>
        <a class="dropdown-item" href="#"><i class="fa fa-cog mr-2"></i>Settings</a>
        <hr class="dropdown-divider" />
        <a class="dropdown-item" href="javascript:void(0)" (click)="onLogout()"><i
            class="fa fa-lock mr-2"></i>Logout</a>
      </div>
    </li>
  </ul>
</header>